<%= form_for :user, url: @url, method: @method, class: "form-horizontal" do |user| %>
	<%= error_messages_for(@user) %>
	<div class="form-group row">
    <%= user.label :First_name, class: "string optional control-label control-label col-md-2 col-lg-2" %>
  	<div class="col-md-4 col-lg-4">
  		<%= user.text_field :firstname, class: "form-control" %>
  	</div>
  </div>

  <div class="form-group row">
    <%= user.label :Last_name, class: "string optional control-label control-label col-md-2 col-lg-2" %>
  	<div class="col-md-4 col-lg-4">		
  		<%= user.text_field :lastname, class: "form-control" %>
  	</div>
  </div>

  <div class="form-group row">
    <%= user.label :Email, class: "string optional control-label control-label col-md-2 col-lg-2" %>
    <div class="col-md-4 col-lg-4">
  		<%= user.text_field :email, class: "form-control" %>
  	</div>
  </div>

  <div class="form-group row">
  	<%= user.label :Institution, class: "string optional control-label control-label col-md-2 col-lg-2" %>
  	<div class="col-md-4 col-lg-4">	
  		<%= user.text_field :institution, class: "form-control" %>
  	</div>
  </div>

  <div class="form-group row">
  	<%= user.label :Password, class: "string optional control-label control-label col-md-2 col-lg-2" %>
  	<div class="col-md-4 col-lg-4">	
  		<%= user.password_field :password, class: "form-control" %>
  	</div>
  </div>

  <div class="form-group row">
  	<%= user.label :Confirm_password, class: "string optional control-label control-label col-md-2 col-lg-2" %>
  	<div class="col-md-4 col-lg-4">	
  		<%= user.password_field :confirmation, class: "form-control" %>
  	</div>
  </div>

  <% @roles = Role.all%>
  <div class="form-group row">
  	<%= user.label :Role, class: "string optional control-label control-label col-md-2 col-lg-2" %>
  	<div class="col-md-4 col-lg-4">
     	<select class="form-control" name="user[role]">
        <%= @roles.each do |r|%>
   			<option value="<%= r.role%>"><%= r.role%></option>
   			<!-- <option value="User">User</option>
   			<option value="NRC Researcher">NRC Researcher</option> -->
        <% end %>
     	</select>
    </div>
  </div>
  <div class="form-group col-md-6 col-lg-6 row">
  	<%= link_to "Back", users_admin_index_path, class: "btn btn-primary", style: "margin-left: 10%"%>
  	<%= user.submit "Save", class: "btn btn-primary", style: "margin-left: 20%"%>
  </div>
<% end -%>