<%= form_for :user, url: @url, class: "form-horizontal" do |user| %>
	<%= error_messages_for(@user) %>
	<div class="form-group row">
  	<label class="string optional control-label control-label col-md-2 col-lg-2" for="user_Institution">First_name</label>
  	<div class="col-md-4 col-lg-4">
  		<%= user.text_field :first_name, class: "form-control" %>
  	</div>
  </div>

  <div class="form-group row">
  	<label class="string optional control-label control-label col-md-2 col-lg-2" for="user_Institution">Last_name</label>
  	<div class="col-md-4 col-lg-4">		
  		<%= user.text_field :last_name, class: "form-control" %>
  	</div>
  </div>

  <div class="form-group row">
  	<label class="string optional control-label control-label col-md-2 col-lg-2" for="user_Institution">Email</label>
  	<div class="col-md-4 col-lg-4">	
  		<%= user.text_field :email, class: "form-control" %>
  	</div>
  </div>

  <div class="form-group row">
  	<label class="string optional control-label control-label col-md-2 col-lg-2" for="user_Institution">Institution</label>
  	<div class="col-md-4 col-lg-4">	
  		<%= user.text_field :institution, class: "form-control" %>
  	</div>
  </div>

  <div class="form-group row">
  	<label class="string optional control-label control-label col-md-2 col-lg-2" for="user_Institution">Password</label>
  	<div class="col-md-4 col-lg-4">	
  		<%= user.password_field :password, class: "form-control" %>
  	</div>
  </div>

  <div class="form-group row">
  	<label class="string optional control-label control-label col-md-2 col-lg-2" for="user_Institution">Confirm password</label>
  	<div class="col-md-4 col-lg-4">	
  		<%= user.password_field :confirmation, class: "form-control" %>
  	</div>
  </div>

  <% @roles = Role.all%>
  <div class="form-group row">
  	<label class="string optional control-label control-label col-md-2 col-lg-2" for="user_Institution">Role</label>
  	<div class="col-md-4 col-lg-4">
     	<select class="form-control" name="user[role]">
        <%= @roles.each do |r|%>
   			<option value="r.role"><%= r.role%></option>
   			<!-- <option value="User">User</option>
   			<option value="NRC Researcher">NRC Researcher</option> -->
        <% end %>
     	</select>
    </div>
  </div>
  <div class="form-group col-md-6 col-lg-6 row">
  	<%= link_to "Back", users_admin_index_path, class: "btn btn-primary", style: "margin-left: 10%"%>
  	<%= user.submit "Save", class: "btn btn-primary", style: "margin-left: 20%"%>
  </div>
<% end -%>