<%= nested_form_for @gadget, url: @url, method: @method, class: 'form-horizontal'  do |f| %>
	<div class="container">
		<div class="col-lg-10">
			<div class="row">
				<div class="form-group">  		
					<div class="col-md-9">
						<%= f.text_field :title, required: true, class: 'form-control input-md', placeholder: 'Enter title here' %>
					</div>
					<div class="col-md-3"> 
						<%= link_to "Back", gadgets_path, class: 'btn btn-primary' %>
						<%= f.submit "Save", class: 'btn btn-primary' %>
					</div>
				</div>
			</div>
      <hr/>
  		<!-- col-lg-9 close  -->
			<div class="col-lg-8">
				<div class="row">
					<div class="form-group">
			  		<label class="col-md-4 control-label">Name of the method/gadget</label>  
						<div class="col-md-7">
							<%= f.text_field :method_or_gadget, required: true, class: 'form-control input-md' %>
						</div>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="form-group">
				  	<label class="col-md-4 control-label">What is it for?</label>  
						<div class="col-md-7">
							<%= f.text_field :useful_for, class: 'form-control input-md' %>
						</div>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="form-group">
						<label class="col-md-4 control-label">Analysis group(s)</label>
						<div class="col-md-7" style="padding-top:13px">
						
	  					<% AnalysisGroup.all.each do |a_value| %> 
						  	<% if @gadget.new_record? %>
							  	<%= f.check_box(:analysis_group, { :multiple => true }, a_value.id, nil) %>
									<%=  a_value.name %>  		
								<% else %>
									<% if @gadget.analysis_groups.pluck(:id).include?(a_value.id) 	%>
										<%= f.check_box(:analysis_group, { :multiple => true, checked:  true}, a_value.id, nil) %>
										<%=  a_value.name %>  
									<% else %>
										<%= f.check_box(:analysis_group, { :multiple => true }, a_value.id, nil) %>
										<%=  a_value.name %>  
									<% end %>	
								<% end %>
  						<% end %>
						</div>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="form-group">
				  	<label class="col-md-4 control-label">Specific parameters</label> 
						<div class="col-md-8">
							<%= f.fields_for :specific_parameters do |ai_form| %>
								<p>
  								<div class="row">
  									<div class="col-lg-9">
											<%= ai_form.text_field :name, class: 'form-control input-md' %>
		  							</div>
										<%= ai_form.link_to_remove raw("<span class=\"glyphicon glyphicon-minus\" id=\"button\">"), class: 'btn btn-default' %>
	  							</div>
	  						</p>
							<% end %>
							<p>
								<%= f.link_to_add raw("<span class=\"glyphicon glyphicon-plus\" id=\"button\">"), :specific_parameters, class: 'btn btn-default' %>
							</p>
						</div> 
					</div>
				</div>
				<br>
				<div class="row">
					<div class="form-group">
						<label class="col-md-4 control-label">Type of method/gadget</label>
						<div class="col-md-7" style="padding-top:13px">
							<% TypeOfMethod.all.each do |a_value| %> 
						  	<% if @gadget.new_record? %>
							  	<%= f.check_box(:type_of_method, { :multiple => true }, a_value.id, nil) %>
									<%=  a_value.name %>  
								<% else %>
									<% if @gadget.type_of_methods.pluck(:id).include?(a_value.id) 	%>
										<%= f.check_box(:type_of_method, { :multiple => true, checked:  true}, a_value.id, nil) %>
										<%=  a_value.name %>  
									<% else %>
										<%= f.check_box(:type_of_method, { :multiple => true }, a_value.id, nil) %>
										<%=  a_value.name %>  
									<% end %>	
								<% end %>
							<% end %>
	  				</div>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="form-group">
						<label class="col-md-4 control-label" for="">Short description of gadget</label>
						<div class="col-md-7"> 
							<%= f.text_area :gadget_description, class: 'form-control', rows: 4 %>
						</div>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="form-group">
						<label class="col-md-4 control-label" for="buttondropdown">Cost</label>
						<div class="col-md-5">
				  		<%= f.text_field :cost, class: 'form-control' %>
				  	</div>
				  	<div class="col-md-3">
				    	<%= f.select :currency_id, Currency.all.collect {|p| [ p.name, p.id] },{:default => 'Guest'}, {:class => 'form-control', id: 'currency_select'} %>
				  	</div>
					</div>
		  	</div>
		  	<br>
		  	<div class="row">
					<div class="form-group">
						<label class="col-md-4 control-label" for="radios">Is the tool available to users?</label>
						<div class="col-md-8"> 
  						<label class="radio-inline" for="radios-0">
    						<%= f.radio_button :tool_to_users, "Yes" %>
  						Yes
					    </label> 
					    <label class="radio-inline" for="radios-1">
					      <%= f.radio_button :tool_to_users, "No" %>
					      No
					    </label> 
						</div>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="form-group">
						<label class="col-md-4 control-label" for="">Gadget website</label>
						<div class="col-md-7"> 
							<%= f.text_field :gadget_website, class: 'form-control'%>
						</div>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="form-group">
						<label class="col-md-4 control-label" for="">Brochure</label>
						<div class="col-md-7"> 
							<%= f.text_field :brochure, class: 'form-control'%>
						</div>
					</div>
				</div>
				<br>
				<hr/>
				<div class="row">
					<div class="form-group">
						<label class="col-md-4 control-label">Company name</label>  
						<div class="col-md-7">
							<%= f.text_field :company_name, class: 'form-control input-md' %>
						</div>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="form-group">
			  		<label class="col-md-4 control-label">Company description</label>  
						<div class="col-md-7">
							<%= f.text_area :company_description, class: 'form-control input-md', rows:4 %>
						</div>
					</div>
				</div>
				<br>
				<div class="row">			
					<div class="form-group">
			 	 		<label class="col-md-4 control-label">Company website</label>  
						<div class="col-md-7">
							<%= f.text_field :company_website, class: 'form-control input-md' %>
						</div>
					</div>
				</div>
				<br>
				<!-- insert code for advisaryinstitutes here -->
				<div class="row">
					<div class="form-group">
						<label class="col-md-4 control-label">Technology used</label>  
						<div class="col-md-7">
							<%= f.text_field :technology_used, class: 'form-control input-md' %>
						</div>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="form-group">
			  		<label class="col-md-4 control-label">Scientific description of</label>  
						<div class="col-md-7">
							<%= f.text_area :scientific_description, class: 'form-control input-md', rows: 4 %>
						</div>
					</div>
				</div>
				<br>
				<!-- insert code for scientific_papers here -->
				<div class="row">
					<div class="form-group">
						<label class="col-md-4 control-label" for="radios">Usefulness for field</label>
						<div class="col-md-8"> 
  						<label class="radio-inline" for="radios-0">
    						<%= f.radio_button :usefulness_for_field_nrc, "Yes" %>
  						Yes
					    </label> 
					    <label class="radio-inline" for="radios-1">
					      <%= f.radio_button :usefulness_for_field_nrc, "No" %>
					      No
					    </label> 
					    <label class="radio-inline" for="radios-2">
					     <%= f.radio_button :usefulness_for_field_nrc, "Maybe" %>
					      May be
					    </label>
					    <label class="radio-inline">
  							 <%= f.check_box :evaluation_by_nrc, {checked: false} %> 
  						 			Evaluated by NRC
							</label>
							<label class="radio-inline">
  							 <%= f.check_box :evaluation_by_vivsan, {checked: false} %> 
  						 			Evaluated by vivsan
							</label>
						</div>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="form-group">
						<label class="col-md-4 control-label">Qualify areas of interest</label>
						<div class="col-md-7" style="padding-top:13px">
							<% QualifyAreasOfInterest.all.each do |a_value| %> 
								<% if @gadget.new_record? %>
								  <%= f.check_box(:qualify_areas_of_interests, { :multiple => true }, a_value.id, nil) %>
									<%=  a_value.name %>  
								<% else %>
									<% if @gadget.qualify_areas_of_interests.pluck(:id).include?(a_value.id) 	%>
										<%= f.check_box(:qualify_areas_of_interests, { :multiple => true, checked:  true}, a_value.id, nil) %>
										<%=  a_value.name %>  
									<% else %>
										<%= f.check_box(:qualify_areas_of_interests, { :multiple => true }, a_value.id, nil) %>
										<%=  a_value.name %>  
									<% end %>	
								<% end %>
							<% end %>
  					</div>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="form-group">
					  <label class="col-md-4 control-label">Useful for which field lab? </label>  
						<div class="col-md-7">
							<%= f.select :field2_useful_for_which_id, Field2UsefulForWhich.all.collect {|p| [ p.name, p.id] },{:default => ''}, {:class => 'form-control', id: ''} %>
						</div>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="form-group">
						<label class="col-md-4 control-label">Explanation by evaluator(NRC)</label>
						<div class="col-md-7"> 
							<%= f.text_area :field_2_explanation, class: 'form-control input-md', rows: 4 %>
						</div>
					</div>
				</div>
				<br>
				<hr/>
				<div class="row">
					<div class="form-group">
						<label class="col-md-4 control-label">Name of evaluator(NRC)</label>  
						<div class="col-md-7">
							<%= f.text_field :name, class: 'form-control input-md',
									 id: 'fieldwidth' %>
						</div>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="form-group">
						<label class="col-md-4 control-label">Comments/suggestion of evaluator</label>  
						<div class="col-md-7">
							<%= f.text_area :comment, class: 'form-control input-md', rows: 4, id: 'fieldwidth' %>
						</div>
					</div>	
				</div>
				<div class="text-center"> 
					<%= link_to "Back", gadgets_path, class: 'btn btn-primary' %>
					<%= f.submit "Save", class: 'btn btn-primary' %>
				</div>
			</div>
	  </div> 
  </div>
	
	<!-- insert code for avatars here -->
	<!-- insert code for video location here -->
<% end %>


